[tool.bandit]
exclude_dirs = ["tests", "__pycache__", ".git", ".tox", "dist", "build"]
skips = ["B101", "B601"]

[tool.black]
line-length = 120
target-version = ['py39']

[tool.isort]
profile = "black"
line_length = 120

[tool.mypy]
python_version = "3.9"
warn_return_any = true
warn_unused_configs = true
disallow_untyped_defs = false
ignore_missing_imports = true
